<!DOCTYPE html>
<html>
<head>
<script src="//code.angularjs.org/1.3.0-beta.7/angular.js"></script>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body ng-app="Demo" ng-controller="DemoCtrl">
  
  <div style="height:15px">
      <button  ng-if="moreQueue"ng-click="transferWait()"> See More {{ moreQueue }}
      </button >
    </div>  
  <div class="wrapper">
    <div class="item" ng-repeat="item in items | orderBy: '-id'">
      {{ item.name }}
    </div>
  </div>
<button ng-click="addNewItem()">
    Add New Item
  </button>
  
  <script>
    angular.module("Demo", [])
.controller("DemoCtrl", function($scope) {
  $scope.items = [];
  $scope.queuedItems=[];
  $scope.moreQueue = 0;
  
  for (var i = 0; i < 10; i++) {
    $scope.items[i] = {
      id: i,
      name: 'item ' + i
    };
  }
  
  $scope.addNewItem = function() {
        
    var newId = ($scope.items.length + $scope.queuedItems.length);
    $scope.queuedItems = $scope.queuedItems.concat({
      id: newId,
      name: "item " + newId
    });
    
    $scope.moreQueue = $scope.queuedItems.length;
    
  };

  $scope.transferWait = function() {
    
    Array.prototype.push.apply($scope.items,$scope.queuedItems);
    $scope.queuedItems = [];
    $scope.moreQueue = 0;
    
  };

});
  </script>
</body>
</html>
